{% extends 'index.html' %}

{% block text %}
<div class="container page-name">
    <h1 class="text-center">Регистрация</h1>
    <p class="lead text-center"></p>
</div>
{% endblock %}

{% block pagination %}
<h1>{{title}}</h1>

<form method="post">
    {% csrf_token %}

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button type="submit">Регистрация</button>
</form>

{% endblock %}
